@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    background-color: white;
}
h2,
h3 {
    color: #ff5fa2;
}
footer {
    padding: 20px;
    color: white;
    background-color: #ff5fa2;
}
nav {
    background-color: #fcc89b;
    padding: 5px;
    top: 0;
    position: sticky;
}
nav a:hover {
    font-weight: bold;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    display: inline-block;
}
ul {
    overflow: auto;
}
header {
    display: inline;
}
.profile header {
    text-align: center;
}
footer {
    background-color: #ff5fa2;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-align: center;
}
.profile img {
    width: 200px;
}
.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #ff5fa2;
    text-align: center;
    color: white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
img.gambar-header{
    object-fit: cover;
    object-position: center;
    max-height: 700px;
    width: 100%;
}
body   {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Quicksand', sand-serif;
    margin: 0;
    padding: 0;
}
.members {
           overflow: auto;
           border: 1px #ff5fa2;

}
.members-pic {
           float: left;
           margin: 10px;
           width: 220px;
           height: auto;
}
main   {
    padding: 20px;
    overflow: auto;
}
#content   {
    float: left;
    width: 75%;
}
aside  {
    float: right;
    width: 25%;
    padding-left: 20px;
}
* {
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}
.embed-container { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}