@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./fonts/Lato-Regular.woff2') format('woff2'),
       url('./fonts/Lato-Regular.woff') format('woff'),
       url('./fonts/Lato-Regular.ttf') format('ttf');
}

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  margin: 0;
  color: #4a5568;
  background: #f7fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}