@font-face {
  font-family: 'Roboto Serif', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/roboto-serif-v5-latin-regular.woff') format('woff');
  src: url('./fonts/roboto-serif-v5-latin-regular.woff2') format('woff2');
  src: url('./fonts/roboto-serif-v5-latin-italic.woff') format('woff');
  src: url('./fonts/roboto-serif-v5-latin-italic.woff2') format('woff2');
}

body {
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 500;
  margin: 0;
  color: #4a5568;
  background: #f7fafc;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}